#droplet-notification {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 230px;
	background-color: rgba(0, 0, 0, 0.75);
	font-family: sans-serif;
	color: #fff; padding: 10px;
	border-radius: 7px;
	text-align: left;
	font-size: 15px;
	line-height: 15px;
	visibility: hidden;
	opacity: 0;
	z-index: 502;
		-moz-transition: opacity 750ms, visibility 0ms 750ms;
		-ms-transition: opacity 750ms, visibility 0ms 750ms;
		-o-transition: opacity 750ms, visibility 0ms 750ms;
		-webkit-transition: opacity 750ms, visibility 0ms 750ms;
	transition: opacity 750ms, visibility 0ms 750ms;
}
#droplet-notification.visible {
	visibility: visible;
	opacity: 1;
		-moz-transition: opacity 750ms;
		-ms-transition: opacity 750ms;
		-o-transition: opacity 750ms;
		-webkit-transition: opacity 750ms;
	transition: opacity 750ms;
}
#droplet-title {
	font-weight: bold;
}
#droplet-filenames {
	margin: 5px 0;
	line-height: 150%;
}
#droplet-progressbar {
	background-color: #fff;
	border-radius: 3px;
	line-height: 1px;
}
#droplet-progress {
	display: inline-block;
	height: 10px;
	background-color: #06f;
		background-image: -moz-linear-gradient(#09f, #03f);
		background-image: -ms-linear-gradient(#09f, #03f);
		background-image: -o-linear-gradient(#09f, #03f);
		background-image: -webkit-linear-gradient(#09f, #03f);
	background-image: linear-gradient(#09f, #03f);
	width: 0%;
	border-radius: 3px;
		-moz-transition: width 50ms;
		-ms-transition: width 50ms;
		-o-transition: width 50ms;
		-webkit-transition: width 50ms;
	transition: width 50ms;
}
